.navbar {
    background-color:  aqua;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.scale:hover {
    transform: scale(1.3);
}

.scale-x:hover {
    transform: scaleX(1.3);
}

.rotate:hover {
transform: rotate(1000deg);
}

.skew:hover {
    transform: skew(45deg);
}

.skew-2:hover {
    transform: skew(-45deg, 60deg);
}

.translate:hover {
    transform: translate(5px, 12px);
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: solid blue;
    transition: 0.3s ease-in-out;
    animation-name: bgcolorAnimate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes bgcolorAnimate {
    from {background-color: red;}
    to{background-color: yellow;}
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: solid blue;
    transition: 0.3s ease-in-out;
    animation-name: bgcolorAnimate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes bgcolorAnimate {
    0% {background-color: rgb(241, 104, 104) ;}
    25% {background-color: yellow;}
    35% {background-color: greenyellow;}
    45% {background-color: green;}
    55% {background-color: blue; transform:scale(1.5);}
    65% {background-color: blueviolet; transform:rotate(45deg);}
    75% {background-color: rgb(250, 82, 82);}
    85% {background-color: pink}
    100% {background-color:orchid;}
}

.boxrace {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    position: relative;
    animation: boxraceAnimate 2s infinite;
}

.race1 {animation-timing-function: linear}
.race2 {animation-timing-function: ease}
.race3 {animation-timing-function: ease-in}
.race4 {animation-timing-function: ease-out}
.race5 {animation-timing-function: ease-in-out}

@keyframes boxraceAnimate {
from { left: 0px;}
to { left: 300px;}
}